<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Email Sent</title> 
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<!--     <script type="text/javascript" src="../../static/js/ionform.js" th:src="@{/js/ionform.js}"></script> -->

</head>
<body ng-app="myApp" ng-controller="MyController">

    <ion-header-bar class="bar-positive">
      <h1 class="title">Email sent</h1>
    </ion-header-bar>
	<ion-content>
		<p>Email SENT!!</p>
	</ion-content>
	
	<ion-footer-bar align-title="left" class="bar-positive">
			  <div class="buttons">
			    <button class="button">Left Button</button>
			  </div>
	</ion-footer-bar>
</body>
</html>