<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Ion Refresher</title> 
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="../../static/js/ionform.js" th:src="@{/js/ionform.js}"></script>

</head>
<body ng-app="myApp" ng-controller="MyController">

    <ion-header-bar class="bar-dark">
      <h1 class="title">{{ titlename }}</h1>
    </ion-header-bar>
	<ion-content>
		<form th:action="@{/ionsubmit}" th:object="${customer}" method="post" name="simpleionform">
			<div class="list">
			<div class="item item-divider">
		    	{{ info }}
		  	</div>
			<label class="item item-input item-floating-label">
			    <span class="input-label">{{ name }}</span>
			    <input type="text" th:field="*{name}" placeholder="{{ name }}" th:required="required" />
			</label>
			<label class="item item-input item-floating-label">
			   <span class="input-label">{{ address }}</span>
			   <input type="text" th:field="*{address}" placeholder="{{ address }}" th:required="required" />
			</label>
			<div class="item item-divider">
		    	{{ classgender }}
		  	</div>
			<ion-radio ng-repeat="item in gender"
	                   ng-value="item.value"
	                   ng-model="gendervalue.value">
	          {{ item.text }}
	        </ion-radio>
	        
	        <div class="item item-divider">
		    	{{ isinterested }}
		  	</div>
			<ion-toggle ng-model="customerinterested.checked" toggle-class="toggle-calm">{{ yesno }}</ion-toggle>
	
			</div>
			<input class="button button-block button-balanced" type="submit" value="Submit" ng-disabled="simpleionform.$invalid" />
			
<!-- 			hidden field for storage of radio and toggle btn -->
			<input type="text" ng-hide="true" th:field="*{gender}" ng-value="gendervalue.value" />
			<input type="text" ng-hide="true" th:field="*{interested}" ng-value="customerinterested.checked" />
		</form>
	</ion-content>
</body>
</html>