<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Ion Refresher</title> 
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="../../static/js/ionform.js" th:src="@{/js/ionform.js}"></script>

</head>
<body ng-app="myApp" ng-controller="MyController">

    <ion-header-bar class="bar-positive">
      <h1 class="title">{{ titlename }}</h1>
    </ion-header-bar>
	<ion-content>

	</ion-content>
</body>
</html>